<div class="mt-4">
  <mat-card *ngIf="game">
    <mat-card-header>
      <div class="title-and-button">
        <button mat-icon-button routerLink="/dashboard/games">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h3 class="ml-2 m-0">{{game.name}}</h3>
      </div>
      <div class="menu" *ngIf="currentUser?.role === Role.User && hasPurchasedGame">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-dialog">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openLendGameModal()">
            <mat-icon>group</mat-icon>
            <span>Lend this game</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-header>
  
    <mat-card-content>
      <img *ngIf="game.imageSrc" mat-card-image src="{{game.imageSrc}}" alt="Photo of game">
      <img *ngIf="!game.imageSrc" mat-card-image src="/assets/images/no-image.jpg" alt="Photo of game">
      <mat-list>
        <div mat-subheader>Minimum requirements</div>
        <mat-list-item>
          <mat-icon matListItemIcon>bolt</mat-icon>
          <h3 matListItemTitle>{{game.cpuRequirements}}</h3>
          <small matListItemLine>CPU Requirements</small>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>memory</mat-icon>
          <h3 matListItemTitle>{{game.memoryRequirements}}</h3>
          <small matListItemLine>Memory Requirements</small>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>storage</mat-icon>
          <h3 matListItemTitle>{{game.storageRequirements}}</h3>
          <small matListItemLine>Storage Requirements</small>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    <mat-card-actions>
      <button
        mat-flat-button
        color="primary"
        *ngIf="currentUser?.role === Role.User && !hasPurchasedGame"
        (click)="openBuyGameModal()"
      >Buy this game</button>

      <button
        mat-flat-button
        color="primary"
        *ngIf="currentUser?.role === Role.User && hasPurchasedGame"
        (click)="playGame()"
      >Play Game</button>
    </mat-card-actions>
  
  </mat-card>
</div>
