.dialog-header {
  // display: flex;
  // justify-content: space-between;
  padding: 8px;
}

mat-dialog-content {
  @media (max-width: 600px) {
    min-height: 80vh;
  }

  @media (min-width: 600px) {
    min-width: 500px;
  }
}

mat-dialog-actions {
  display: block;
  padding: 16px;
}
